/* default square */
.art-card.square {
  grid-row: span 1;
  grid-column: span 1;
}

/* portrait (tinggi) */
.art-card.portrait {
  grid-row: span 2;
  grid-column: span 1.5;
}

/* landscape (lebar) */
.art-card.landscape {
  grid-column: span 2;
}

.art-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}